<div>
  <h1 class="text-4xl font-bold">My Dashboard</h1>

  <div class="py-10 md:py-14">
    <div class="flex space-x-6">
      <div class="w-full rounded border md:w-4/12">
        <div class="p-4 border-b">
          <h2 class="text-base font-semibold">My Notices</h2>
        </div>
        <div class="">
          <div class="flex flex-col">
            <%= link_to notices_path, class: 'inline-flex gap-x-3.5 items-center py-3 px-4 -mt-px text-sm font-medium text-gray-800 bg-white border-b border-gray-200 first:mt-0 dark:bg-neutral-900 dark:border-neutral-700' do %>
              <i class="bi bi-bag"></i>
              My Notice Basket
            <% end %>

            <%= link_to notices_path, class: 'inline-flex gap-x-3.5 items-center py-3 px-4 mb-px text-sm font-medium text-gray-800 bg-white  border-gray-200 first:mt-0 dark:bg-neutral-900 dark:border-neutral-700' do %>
              <i class="bi bi-briefcase"></i>
              My Notice History
            <% end %>
          </div>
        </div>

      </div>

      <div class="w-full rounded border md:w-4/12">
        <div class="p-4 border-b">
          <h2 class="text-base font-semibold">My Account</h2>
        </div>
        <div class="">
          <div class="flex flex-col">
            <%= link_to edit_user_registration_path, class: 'inline-flex gap-x-3.5 items-center py-3 px-4 -mt-px text-sm font-medium text-gray-800 bg-white border-b border-gray-200 first:mt-0 dark:bg-neutral-900 dark:border-neutral-700' do %>
              <i class="bi bi-person"></i>
              Update My Details
            <% end %>

            <%= link_to '#', class: 'inline-flex gap-x-3.5 items-center py-3 px-4 mb-px text-sm font-medium text-gray-800 bg-white  border-gray-200 first:mt-0 dark:bg-neutral-900 dark:border-neutral-700' do %>
              <i class="bi bi-bell"></i>
              Save / Edit custom alerts (coming soon)
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
