<main
  class="grid place-items-center py-24 px-6 min-h-screen bg-white sm:py-32 lg:px-8"
>
  <div class="container mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold text-indigo-600">404</p>
    <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">
      You probably typed it wrong.
    </h1>
    <p class="mt-6 text-lg leading-7 text-gray-700 md:text-xl">
      It looks like that page doens't exist. Please check the URL and try
      again.
    </p>
    <div class="flex gap-x-6 justify-center items-center mt-10">
      <%= link_to "Go back home", root_path, class: "btn-primary" %>
    </div>
  </div>
</main>
